@import "../../settings";

.text-normal {
  font-size: $font-default;

  &--small {
    font-size: $font-small;
  }

  &--medium {
    font-size: $font-medium;
  }

  &--large {
    font-size: $font-large;
  }

  &--ultra {
    font-size: $font-ultra;
  }
}

.text-bold {
  font-family: $font-family-bold;
  font-size: $font-default;

  &--small {
    font-family: $font-family-bold;
    font-size: $font-small;
  }

  &--medium {
    font-family: $font-family-bold;
    font-size: $font-medium;
  }

  &--large {
    font-family: $font-family-bold;
    font-size: $font-large;
  }

  &--ultra {
    font-family: $font-family-bold;
    font-size: $font-ultra;
  }
}

.text-extrabold {
  font-family: $font-family-extrabold;
  font-size: $font-default;

  &--small {
    font-family: $font-family-extrabold;
    font-size: $font-small;
  }

  &--medium {
    font-family: $font-family-extrabold;
    font-size: $font-medium;
  }

  &--large {
    font-family: $font-family-extrabold;
    font-size: $font-large;
  }

  &--ultra {
    font-family: $font-family-extrabold;
    font-size: $font-ultra;
  }
}

.text-black {
  font-family: $font-family-black;
  font-size: $font-default;

  &--small {
    font-family: $font-family-black;
    font-size: $font-small;
  }

  &--medium {
    font-family: $font-family-black;
    font-size: $font-medium;
  }

  &--large {
    font-family: $font-family-black;
    font-size: $font-large;
  }

  &--ultra {
    font-family: $font-family-black;
    font-size: $font-ultra;
  }
}

p {
  margin: 5px 0 !important;
}

ion-footer {
  background: none;
}
