/*
*
*
* Colors
*
*
*/
$color-primary: var(--ion-color-primary);
$color-secondary: var(--ion-color-secondary);
$color-tertiary: var(--ion-color-tertiary);
$color-danger: var(--ion-color-danger);
$color-light: var(--ion-color-light);

$color-white: #fff;
$color-black: $color-secondary;
$color-red: $color-danger;
$color-gray: #989aa2;
$color-gray--light: $color-light;
$color-gray--pickslot: #e7e7e7;
$color-advert-saloon: #dfd5cc;
$color-blue: #41acf7;
$color-border: #d8d8d8;

/*
*
*
* Typography
*
*
*/
$font-small: 11px !important;
$font-default: 13px !important;
$font-medium: 16px !important;
$font-large: 24px !important;
$font-ultra: 32px !important;
$font-family-default: 'Muli', sans-serif !important;
$font-family-semibold: "Muli-SemiBold", sans-serif !important;
$font-family-bold: 'Muli-Bold', sans-serif !important;
$font-family-extrabold: 'Muli-Extra-Bold', sans-serif !important;
$font-family-black: "Muli-Black", sans-serif !important;

/*
*
*
* Buttons
*
*
*/
$btn-small-font: $font-small;
$btn-default-font: $font-default;
$btn-medium-font: $font-medium;
$btn-large-font: $font-large;

$btn-small-size: 30px;
$btn-default-size: 40px;
$btn-large-size: 60px;
