@import "../../settings";

.reservation-success {
  &__heading {
    font-size: $font-large;
    font-family: $font-family-bold;
  }

  &__subheading {
    font-size: $font-default;
    line-height: 20px;
    margin-bottom: 45px;
  }

  &--content {
    padding: 25px 16px;
    background-color: $color-white;

    img {
      height: 56px;
      width: 56px;
    }

    &__segment {
      margin-bottom: 25px;
      $self: &;
      &:last-child {
        margin: 0;
      }

      h3 {
        font-size: $font-default;
        line-height: 16px;
        margin: 5px 0 0 0;
      }

      h4 {
        font-size: $font-default;
        font-family: $font-family-bold;
        line-height: 16px;
        margin: 0;

        &.-date {
          font-size: $font-medium;
          line-height: 22px;
        }
      }

      h5 {
        font-size: $font-small;
        font-family: $font-family-bold;
        line-height: 16px;
        margin: 0 0 6px 0;
      }

      a {
        margin-left: 5px;
      }
    }
  }
}
