@import "../../settings";

.facebook {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  height: 20px;
  width: 11px;
  background: url(../../assets/icons/facebook-filled.svg) center
    (center / contain) no-repeat !important;

  &-disclaimer {
    font-size: $font-small;
    line-height: 16px;
  }

  &-not {
    position: relative;
    z-index: 5;

    &__inner {
      font-family: $font-family-bold;
      font-size: $font-default;
      line-height: 16px;
      color: $color-black;
      display: inline;
      background: $color-white;
      padding: 0 15px;
      z-index: 10;
    }

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      height: 1px;
      z-index: -1;
      box-shadow: inset 13px 20px 0 0 $color-black;
    }
  }
}
