.phone-modal__form-title{font-family:"Muli-Bold",sans-serif !important;font-size:24px !important;line-height:32px !important}.phone-modal__form-desc{font-size:13px !important;line-height:24px !important}.text--tos{border-top:1px solid #d8d8d8;padding-top:16px}.register-prompt{margin-bottom:0}
