@import '../../settings';

.phone-modal {
  &__form {
    &-title {
      font-family: $font-family-bold;
      font-size: $font-large;
      line-height: $font-ultra;
    }

    &-desc {
      font-size: $font-default;
      line-height: $font-large;
    }

    // &-label {
    //   font-size: $font-small;
    //   line-height: $font-medium;
    // }

    // &-input {
    //   font-family: $font-family-bold;
    //   font-size: $font-medium;
    //   line-height: $font-large;
    // }
  }
}


.text--tos {
  border-top: 1px solid $color-border;
  padding-top: 16px;
}

.register-prompt {
  margin-bottom: 0;
}
