@import '../../settings';

.profile {
  &__picture {
    margin: 0 auto;
    height: 165px;
    width: 165px;

    img {
      height: 100%;
      width: 100%;
      border-radius: 100%;
    }
  }

  &__info {
    h1 {
      font-family: $font-family-black;
      font-size: $font-ultra;
      line-height: 40px;
      margin: 0;
    }

    h2 {
      font-family: $font-family-bold;
      font-size: $font-medium;
      line-height: $font-large;
      margin: 0 0 35px;
    }

    p {
      font-size: $font-default;
      line-height: $font-large;
      margin-bottom: 30px;
    }

  }
    a.pp-link {
      margin-left: 16px;
      font-size: $font-default;
    }
}
