.profile__picture{margin:0 auto;height:165px;width:165px}.profile__picture img{height:100%;width:100%;border-radius:100%}.profile__info h1{font-family:"Muli-Black",sans-serif !important;font-size:32px !important;line-height:40px;margin:0}.profile__info h2{font-family:"Muli-Bold",sans-serif !important;font-size:16px !important;line-height:24px !important;margin:0 0 35px}.profile__info p{font-size:13px !important;line-height:24px !important;margin-bottom:30px}.profile a.pp-link{margin-left:16px;font-size:13px !important}
