@import "../../settings";

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 140px;
  position: relative;
  min-height: 128px;

  &__picture {
    position: absolute;
    top: 16px;
    left: 16px;
    height: 90px;
    width: 90px;

    img {
      height: 100%;
      width: 100%;
      border-radius: 100%;
    }
  }

  &__name {
    font-family: $font-family-bold;
    font-size: $font-medium;
    line-height: $font-large;
    margin: 0;
  }

  &__phone,
  &__email {
    font-size: $font-default;
    line-height: $font-medium;
    margin: 0 0 16px !important;
  }

  &__items {
    ion-item {
      position: relative;
      --background: #f2f2f2;
      --border-color: #fff;

      span {
        font-family: $font-family-bold;
        font-size: $font-medium;
        line-height: $font-large;
        padding: 19px
      }

      ion-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
      }
    }
  }
}

ion-footer {
  &::before {
    content: none !important;
  }
}

.my-profile-notif {
  color: $color-white;
  background: $color-red;
  padding: 0 5px 2px;
  border-radius: 100%;
  font-size: 10px;
  font-family: $font-family-bold;
}
