@import "../../settings";

.stepper__btn--active {
  &::after {
    content: none !important;
  }
}

.stepper {
  ion-col {
    &:first-child {
      ion-button {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 1;
          height: 52%;
          width: 1px;
          background: $color-white;
          transform: rotate(24deg);
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
          height: 52%;
          width: 1px;
          background: $color-white;
          transform: rotate(-24deg);
        }
      }
    }
  }
}

.finalize-appointment {
  position: relative;
  background: $color-gray--pickslot;
  padding: 25px 16px;
  margin-top: 20px;

  h5 {
    font-family: $font-family-bold;
    font-size: $font-small;
    line-height: 16px;

    &.-time {
      font-family: $font-family-default;
      font-size: $font-default;
      margin: 5px 0 24px 0;
    }
  }

  h4 {
    margin-bottom: 0;
    font-family: $font-family-bold;
    font-size: $font-medium;
    line-height: 22px;

    &.-address {
      font-family: $font-family-bold;
      font-size: $font-default;
      line-height: 16px;
    }
  }

  a {
    position: absolute;
    top: 40px;
    right: 16px;
  }

  &__item {
    &-lead {
      font-family: $font-family-bold;
      font-size: $font-default;
      line-height: 16px;
    }

    &:nth-last-child(2) {
      ion-grid {
        border: none !important;
      }
    }

    ion-grid {
      padding: 11px 0;
      border-bottom: 1px solid $color-border;
    }

    ion-col {
      font-size: $font-small;

      &:first-child {
        font-family: $font-family-bold;
      }

      &:last-child {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-family: $font-family-bold;
        font-size: $font-default;
      }

      &.col--main {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        span {
          margin-left: 8px;
        }
      }


      img {
        height: 24px;
        width: 24px;
        border-radius: 100%;
        display: block;
      }

      .img-container {
        margin-right: 8px;
        display: inline-block;
      }
    }

    &--total {
      background: $color-gray--light;
      margin-top: 10px;

      ion-grid {
        padding: 18px 0;
        border: none;
      }

      ion-col {
        font-family: $font-family-bold;
        font-size: $font-small;
        line-height: 13px;

        &:first-child {
          font-family: $font-family-black;
          font-size: $font-medium;
          line-height: 24px;
          span {
            margin: 0;
          }
        }

        &:last-child {
          font-family: $font-family-black;
          font-size: $font-default;
          line-height: 16px;
        }
      }
    }
  }
}
