@import "../../settings";

.bookings {
  &--reserved,
  &--history {
    &__item {
      .img-wrap {
        margin-top: 5px;

        ion-img {
          max-width: 55px;
          margin: 0 auto;
        }
      }

      &-shop {
        font-family: $font-family-bold;
        $font-size: $font-medium;
        line-height: 22px;
        margin: 0;
      }

      &-address {
        font-size: $font-small;
        line-height: 16px;
        margin: 0 0 16px 0;
      }

      &-date,
      &-time {
        font-family: $font-family-bold;
        $font-size: $font-default;
        line-height: 16px;
        margin: 0;
      }

      &-reserve {
        margin-top: 16px;
      }
    }
  }

  &-divider {
    font-family: $font-family-bold;
    font-size: $font-medium;
    line-height: 22px;
    color: $color-black !important;
    margin-bottom: 16.5px;
  }

  .active {
    --background: var(--ion-color-light, $color-gray--light);
    margin-bottom: 10px;
  }

  .canceled {
    --background: var(--ion-color-danger, $color-red);
    --color: var(--ion-color-danger-contrast, $color-white);
    a {
      color: $color-white;
    }
  }

  .canceled-v2 {
    p {
      &:not(.bookings--history__item-reserve) {
        text-decoration: line-through !important;
      }
    }
  }

  .arrow-right {
    position: absolute;
    top: 50%;
    right: -11px;
    transform: translateY(-50%);
  }
}
