@import "../../settings";

.search-modal__list {
  &-item {
    font-family: $font-family-default;
    font-size: $font-medium;
    line-height: 21px;

    &--main {
      font-family: $font-family-bold;
      font-size: $font-large;
      padding-bottom: 0;

      &:not(:first-child) {
        padding-top: 31px;
      }
    }
  }
}
