.search-modal__list-item{font-family:"Muli",sans-serif !important;font-size:16px !important;line-height:21px}.search-modal__list-item--main{font-family:"Muli-Bold",sans-serif !important;font-size:24px !important;padding-bottom:0}.search-modal__list-item--main:not(:first-child){padding-top:31px}
