@import "../../settings";

.swiper {
  padding-bottom: 23px;
  border-bottom: 1px solid $color-border;

  &-header {
    font-family: $font-family-bold;
    font-size: $font-default;
    line-height: 16px;
  }

  &-pagination {
    display: none;
  }
}

.available-appointments {
  &__item {
    ion-grid {
      padding: 11px 0;
      border-bottom: 1px solid $color-border;
    }

    .arrow-right {
      transform: rotate(90deg);
    }

    ion-col {
      font-size: $font-default;
      line-height: 16px;

      &:first-child {
        font-family: $font-family-bold;
      }

      // Not sure if this is necessary, will check later
      &:last-child {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      &.col--main {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        span {
          margin-left: 8px;
        }

        .img-container {
          &:nth-child(5) {
            margin: 0;
            position: relative;

            &::after {
              content: "...";
              position: absolute;
              right: -20px;
              bottom: 3px;
              font-size: $font-medium;
            }
          }
        }
      }

      img {
        height: 24px;
        width: 24px;
        border-radius: 100%;
        display: block;
      }

      .img-container {
        margin-right: 8px;
        display: inline-block;
      }
    }

    &--selected {
      --background: $color-primary !important;
      background-color: $color-primary !important;
      margin-top: -1px;

      ion-grid {
        border-color: $color-primary !important;
      }
    }

    &--dropdown-active {
      --background: $color-gray--pickslot;
      background-color: $color-gray--pickslot;
      margin-top: -1px;

      .dropdown--opened {
        ion-col {
          visibility: hidden !important;

          &:first-child,
          &:last-child {
            visibility: visible !important;
          }
        }
      }

      ion-grid {
        border-color: $color-gray--pickslot;
      }

      ion-item {
        --background: $color-gray--pickslot;
        background-color: $color-gray--pickslot;
        margin-top: -1px;
      }

      .arrow-right {
        transform: rotate(-90deg);
      }
    }
  }
}
