@import "../../settings";

.shop-detail {
  position: relative;

  &__heading {
    font-family: $font-family-black;
    font-size: $font-large;
    line-height: 30px;
    color: $color-black;
  }

  &__address {
    font-size: $font-default;
    line-height: 16px;
    color: $color-black;
  }

  &__img {
    height: 100% !important;
    width: 100% !important;
    object-fit: fill !important;
  }

  &-rating-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding: 14px 0 14px 22px;
    border-left: 1px solid $color-black;
    position: absolute;
    top: 13px;
    right: 0;

    span {
      display: block;
    }

    &__rate {
      font-family: $font-family-bold;
      font-size: $font-medium;
      line-height: 22px;
    }

    &__amount {
      font-size: $font-small;
      line-height: 16px;
    }
  }
}

.slide {
  height: 219px;
}

.swiper-pagination {
  position: relative !important;
  bottom: auto !important;
  left: auto !important;
  text-align: right !important;
  padding: 10px 15px;

  &-bullet {
    background: $color-gray;

    &-active {
      background: $color-black;
    }
  }
}

.text--gray {
  color: $color-gray !important;
  font-family: $font-family-bold;
}

.services {
  &__item {
    &--active {
      --background: #3e3e3e !important;
      color: $color-white;

      ion-icon {
        color: $color-white;
      }
    }

    ion-label {
      margin: 19px 0;
      font-family: $font-family-bold;
      font-size: $font-medium;
      line-height: 20px;
    }
  }
}

.services,
.services-list {
  background: #3e3e3e !important;
}

.services-list {
  ion-item {
    --background: #3e3e3e !important;
    margin: 0 !important;
    box-sizing: content-box !important;
    color: $color-white;
  }

  &--white {
    background: #fff !important;

    h3 {
      font-family: $font-family-black;
      font-size: $font-medium;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    ion-item {
      --background: #fff !important;
      color: $color-black !important;
    }
  }

  ion-checkbox {
    margin: 0 !important;
    --border-color: #979797;
    --size: 18px;
    --background: transparent;
    --border-width: 1px;
    --border-radius: 0;

    &.checkbox-checked {
      --border-color-checked: var(--ion-color-primary);
    }
  }

  &-row {
    align-items: center;
    margin-bottom: 24px;

    &.no-margin {
      margin-bottom: 0;
    }

    &__item-name {
      font-size: $font-default;
      line-height: 16px;
    }

    &__item-discount {
      font-size: small;
      text-decoration: line-through;
      color: $color-gray;
      line-height: 16px;
      margin-right: 10px;
    }

    &__item-price {
      font-family: $font-family-bold;
      font-size: $font-default;
      line-height: 24px;
    }

    &__item-time {
      font-size: $font-small;
      color: $color-gray;
      line-height: 16px;
      margin-top: -5px;
    }

    &__item-expanded-info {
      p {
        margin: -5px 0 0;
        font-size: $font-small;
        line-height: $font-medium;
      }

      .error {
        font-size: $font-small;
        color: $color-blue;

        &-icon {
          height: 1.3em;
          width: 1.3em;
          color: $color-blue;
        }
      }
    }

    &__list-icon {
      margin-top: -5px;
    }
  }
}

.team {
  font-family: $font-family-black;
  font-size: $font-medium;
  text-transform: uppercase;
}

.team-showcase {
  text-align: center;

  &__item {
    img {
      border-radius: 100%;
      height: 70px;
      width: 70px;
    }

    span {
      font-size: $font-small;
    }
  }
}

.opening-hours {
  &__heading {
    font-family: $font-family-black;
    font-size: $font-medium;
    text-transform: uppercase;
    padding-bottom: 14.5px;
  }

  &__item {
    font-family: $font-family-bold;
    font-size: $font-default;
    line-height: $font-medium;
    padding-bottom: 7.5px;

    span {
      font-family: $font-family-default;
    }
  }

  p {
    border-bottom: 1px solid $color-border;
  }
}

.about-saloon {
  margin-bottom: 40px;

  &__title {
    font-family: $font-family-black;
    font-size: $font-ultra;
    line-height: 40px;
  }

  &__info {
    margin-bottom: 31px;

    h5 {
      font-family: $font-family-bold;
      font-size: $font-medium;
      line-height: $font-large;
      margin: 0;
    }

    p {
      font-size: $font-default;
      line-height: $font-medium;
      margin: 0;
    }
  }

  &__contact {
    margin-bottom: 35px;

    ion-icon {
      margin: 0 16px -7px 0;
      font-size: $font-large;
    }

    p {
      font-size: $font-default;
      line-height: $font-medium;
      margin-bottom: 16px;
    }
  }

  &__desc {
    position: relative;

    &.not-expanded {
      &::after {
        content: '';
        position: absolute;
        bottom: 42px;
        left: 0;
        right: 0;
        height: 50px;
        box-shadow: inset 0px -55px 49px -27px rgba(255,255,255,1);
      }
    }

    .dropdown-text {
      margin-left: 0;
      font-family: $font-family-bold;
      color: $color-black;
      font-size: $font-default;
    }
  }

  &__map-holder {
    height: 215px;
    margin: 0 -16px 20px -16px;

    ion-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
