@import "../../settings";

.search-segment {
  margin: 32px 0 23px;

  .segment-button-checked {
    font-family: $font-family-black;
  }
}

ion-label {
  h1 {
    font-family: $font-family-black;
    font-size: $font-ultra;
    line-height: 36px;
    padding-top: 16px;
  }
}

.why-booking {
  margin-bottom: 16px;

  h2 {
    font-family: $font-family-black;
    font-size: $font-ultra;
    line-height: 40px;
  }

  ion-row {
    margin-bottom: 20px;
  }

  ion-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  p {
    font-family: $font-family-bold;
    font-size: $font-default;
    line-height: 16px;
    margin: 0 0 0 10px;
  }
}

.secondary-menu {
  background-color: $color-black;

  &__main {
    margin-bottom: 35px;
    a {
      font-family: $font-family-bold;
      font-size: $font-medium;
      color: $color-white;
      text-decoration: none;
      line-height: 20px;
      display: block;
      margin: 12px 0;
    }
  }

  &__social {
    padding-bottom: 34px;
    border-bottom: 1px solid gray;

    a {
      margin-right: 16px;
    }
  }

  &__legal {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      display: inline-block;
      padding-right: 30px;
    }

    a {
      font-size: $font-default;
      line-height: 16px;
      text-decoration: none;
      color: $color-white;
    }
  }

  &__copyrights {
    color: #707070;
    font-size: $font-default;
    margin: 0;
  }
}
