ion-range{--bar-height: 6px;--bar-background: #fff;--bar-background-active: #41acf7;--knob-background: #41acf7;--knob-size: 24px;padding:16px 0}.range-knob{border:1px solid #000 !important}ion-label{font-family:"Muli-Bold",sans-serif !important;font-size:16px !important;line-height:22px}
