@import '../../settings';

ion-range {
  --bar-height: 6px;
  --bar-background: #fff;
  --bar-background-active: #41acf7;
  --knob-background: #41acf7;
  --knob-size: 24px;
  padding: 16px 0;
}

.range-knob {
  border: 1px solid black !important;
}

ion-label {
  font-family: $font-family-bold;
  font-size: $font-medium;
  line-height: 22px;
}
