@import "../../settings";

.filter,
.earth {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  height: 24px;
  width: 24px;
}

.search-result {
  background: $color-black;

  &__lead {
    font-family: $font-family-bold;
    font-size: $font-medium;
    color: $color-white !important;
    line-height: 20px;
  }

  &__follow-up {
    font-size: $font-default;
    color: $color-white !important;
    line-height: 16px;
  }
}

.shop {
  box-shadow: none !important;
  border-radius: 0;
  margin-top: 0;
  position: relative;
  margin-bottom: 22px;
}

.shop-listing {
  &__title {
    font-family: $font-family-bold;
    font-size: $font-large;
    line-height: $font-ultra;
    display: inline-block;
    margin: 16px 0;
    padding-bottom: 2px;
    border-bottom: 4px solid $color-primary;
  }

  &__address {
    font-size: $font-default;
    text-transform: none;
    color: $color-black;
    line-height: $font-medium;
    margin-bottom: 8px;
  }

  &__rating {
    font-family: $font-family-bold;
    font-size: $font-medium;
    line-height: 22px;
    color: $color-black;
    position: relative;
    display: block;
    line-height: 22px;
    padding-bottom: 15px;
    border-bottom: 1px solid $color-gray;

    span {
      font-family: $font-family-default;
      font-size: $font-small;
      line-height: $font-medium;
      color: $color-black;
      margin-left: 16px;
    }

    p {
      position: absolute;
      top: 0;
      right: 0;
      padding: 2px 5px;
      border: 1px solid $color-black;

      span {
        margin: 0;
      }
    }
  }

  &__list-offer {
    font-family: $font-family-bold;
    font-size: $font-default;
    line-height: $font-medium;
    color: $color-black;

    span {
      display: block;
      font-size: $font-small;
      font-family: $font-family-default;
      line-height: $font-medium;
      color: $color-black;
    }
  }

  &__list-price {
    max-width: 80px;

    span {
      margin-left: 8px;
    }

    &--standard {
      font-size: $font-small;
      line-height: $font-medium;
    }

    &--promo {
      font-family: $font-family-bold;
      font-size: $font-default;
      line-height: $font-medium;
    }
  }
}

.shop-listing-navigation {
  ion-button {
    --background: none !important;
    position: relative;
  }

  ion-label {
    padding: 0 30px 0 0 !important;
  }

  ion-icon {
    right: 0;
  }
}
